.challenge-table {
  width: 100%;
  border-collapse: collapse;
  color: white;
  background-color: #1f2b2d;
}

.challenge-table th {
  background-color: #101a26;
  padding: 12px;
  text-align: left;
  font-weight: normal;
}

.challenge-table td {
  padding: 10px 12px;
  border-top: 1px solid #2a3b3f;
}
